body {
    background-color: rgb(236, 173, 0);
}

.container {
    background-color: white;
    height: 500px;
    width: 75%;
    margin: 100px;
}

img {
    height: 300px;
    display: block;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
}

p {
    padding: 20px;
}